@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 400px;
  margin: 0 auto;
}

h1 {
  font-size: 1.7rem;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0.4rem;
  background: #3778c2;
  color: aliceblue;
  gap: 3rem;
}

.header h1 {
  font-size: 1.5rem;
}

.btn {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  border-radius: 5px;
  justify-content: center;
}

.header a,
.header .btn {
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
}

.form,
.cat-form,
.exp-form {
  padding: 1rem;
}

.form form,
.cat-form form,
.exp-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  width: 100%;
  box-shadow: 0 3px 5px -2px #3336;
}

.field,
.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.cat-form input,
.exp-form input,
select {
  width: 100%;
  padding: 0.25rem;
}

.form input[type='submit'],
.cat-form input[type='submit'],
.exp-form input[type='submit'] {
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: deepskyblue;
  color: #fff;
  min-width: 100px;
  font-size: 1.3rem;
  border: none;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

#error_explanation {
  color: red;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  align-items: center;
  gap: 0.2rem;
  text-align: center;
}

.home-page h1 {
  font-size: 55px;
  margin-bottom: 70px;
}

.home-page .btn {
  font-size: 23px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin-top: 2px;
  padding: 3%;
  width: 100%;
  text-align: right;
}

.home-page .btn-primary {
  background-color: #3778c2;
  border: none;
}

.home-page .btn-secondary {
  background-color: #3778c2;
  border: 2px solid #3778c4;
}

.home-page .btn-primary:hover {
  background-color: #3778e4;
}

.home-page .btn-secondary:hover {
  background-color: #6f9fed;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0 0;
}

.btn-logout,
.back {
  padding: 1rem;
  font-size: 1.3rem;
  background: none;
  border: none;
  color: #fff;
}

.expenses-card {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  margin: 3%;
  padding: 4%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.categories li {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 5%;
  margin: 3%;
}

.expenses-card ul li {
  font-size: 1.2rem;
  color: #404245;
  margin: 0 12px 12px 20px;
}

.total {
  margin: 4%;
  font-size: 1.3rem;
}

.msg {
  color: red;
  margin: 4%;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: all 0.15s ease-in-out;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
  text-decoration: none;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
  list-style: none;
}

.btn a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 auto;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  background: #3778c2;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.addNew {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: green;
  height: 50px;
  display: flex;
  align-items: center;
}

.addNew a {
  font-size: 1.3rem;
  border: 1px solid #fff;
  width: 90%;
  background: green;
}

.btn a:hover {
  background: #609de3;
}

.addNew a:hover {
  background: rgb(18, 190, 18);
}

.content h2 {
  padding: 10px 12px;
}
