@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("/assets/backImage2.jpg");
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.7rem;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0.5rem;
  background: #3778c2;
  color: aliceblue;
}

.header h1 {
  font-size: 1.5rem;
}

.btn {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  justify-content: center;
  align-items: center;
}

.btn-expense {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header a,
.header .btn {
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
}

.form,
.cat-form,
.exp-form {
  margin: 20px;
  padding: 0.5rem;
  background-color: white;
}

.form form,
.cat-form form,
.exp-form form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.5rem;
  align-items: center;
  width: 100%;
  box-shadow: 0 3px 5px -2px #3336;
  height: 100vh;
}

.form label {
  font-size: 1.2rem;
}

.field,
.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.cat-form input,
.exp-form input,
select {
  width: 100%;
  padding: 0.8rem;
}

.form input[type='submit'],
.cat-form input[type='submit'],
.exp-form input[type='submit'] {
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #3778c2;
  color: #fff;
  min-width: 100px;
  font-size: 1.3rem;
  border: none;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

#error_explanation {
  color: red;
}

.home-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  align-items: center;
  gap: 0.2rem;
  text-align: center;
}

.home-page h1 {
  margin-bottom: 70px;
  font-size: calc(1.2rem + 11vmin);
  font-weight: 900;
  color: rgb(3, 43, 104);

  --x-offset: -0.0625em;
  --y-offset: 0.0625em;
  --stroke: 0.025em;
  --background-color: white;
  --stroke-color: rgb(56, 72, 78);

  text-shadow:

    var(--x-offset)
    var(--y-offset)
    0
    var(--background-color),
    calc(var(--x-offset) - var(--stroke))
    calc(var(--y-offset) + var(--stroke))
    0
    var(--stroke-color);
}

@supports ( text-shadow: 1px 1px 1px 1px black ) {
  h1 {
    text-shadow:

      var(--x-offset)
      var(--y-offset)
      0
      0
      var(--background-color),
      var(--x-offset)
      var(--y-offset)
      var(--stroke)
      0
      var(--stroke-color);
  }
}

.home-page .btn {
  font-size: 1.7rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin-top: 2px;
  padding: 3%;
  width: 100%;
  border-radius: 6px;
}

.home-page .btn-primary {
  background-color: #3778c2;
  border: none;
}

.home-page .btn-secondary {
  background-color: #3778c2;
  border: 2px solid #3778c4;
}

.home-page .btn-primary:hover {
  background-color: #3778e4;
}

.home-page .btn-secondary:hover {
  background-color: #6f9fed;
}

.btn-logout,
.back {
  padding: 1rem;
  font-size: 1.3rem;
  background: none;
  border: none;
  color: #fff;
}

.expenses-card {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  margin: 3%;
  padding: 4%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.categories li {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 5%;
  margin: 3%;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(223, 135, 162);
  border-radius: 6px;
}

.category-name {
  font-size: 1.5rem;
  color: #5f6163;
}

.icon {
  font-size: 2rem;
}

.total {
  margin: 4%;
  font-size: 1.5rem;
  background-color: rgb(248, 248, 248);
  padding: 20px;
  border: 2px solid #6499ee;
}

.msg {
  color: rgb(66, 64, 64);
  margin: 4%;
  font-weight: bold;
  font-size: 1.7rem;
  background: #f091cb;
  text-align: center;
  border-radius: 5px;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: all 0.15s ease-in-out;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
  text-decoration: none;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
  list-style: none;
}

.info .sum {
  font-weight: bold;
  font-size: 1.2rem;
  color: #229cee;
}

.btn a {
  color: white;
  text-decoration: none;
}

.btn-expense button {
  background-color: #3778c2;
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
}

.addNew {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.8rem;
  background: #3778c2;
  max-height: 80px;
  display: flex;
  align-items: center;
}

.addNew a {
  font-size: 1.8rem;
  padding: 0.5rem;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 90%;
  background: rgb(223, 135, 162);
}

.btn a:hover {
  background: #609de3;
}

.addNew a:hover {
  background: rgb(88, 202, 223);
}

.content {
  width: 90%;
  margin-top: 5%;
}

.content h2 {
  padding: 10px 12px;
  color: #2c2c2c;
  background: rgb(131, 195, 247);
  border: 2px solid rgb(93, 137, 218);
  border-radius: 5px;
  text-align: center;
}

.expenses-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid rgb(155, 151, 155);
  background-color: #faf9f9;
}

.expenses-table th,
.expenses-table td {
  padding: 18px;
  font-size: 1.2rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.expenses-table th {
  background-color: #f2f2f2;
}
